<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="O_FMS_V0.My.MySettings.O_FMSConnectionString" connectionString="Data Source=Miyuki\SQLEXPRESS;Initial Catalog=O!FMS;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
